.launcher{
  position: fixed;
  bottom: 50%;
  right: 0;
  transform: translateY(50%);
  background-color: darkred;
  height: 25vh;
  width: 4rem;
  border-radius: 15px 0 0 15px;
  //border-left: solid black .5px;
  //border-top: solid black .5px;
  //border-bottom: solid black .5px;
  //border-right: solid black .5px;
  z-index: 10;
  transition: all ease 0.5s;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  button{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: solid white 1px;
    color: white;
    background-color: transparent;
    cursor: pointer;

    &:focus{
      outline: none;
    }
  }
}

.launcher-active{
  margin-right: 20rem;
}

.launcher-rotate{
  animation: rotate 2s infinite linear;
}

//ANIMATION

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}