.player-controls{
  min-height: 10vh;
  width: 100%;
  background-color: rgb(255,250,250);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 2rem;
  border-bottom: 0.5px solid black;

  .volume-control{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    input{
      width: 60%;

      &:focus{
        outline: none;
      }
    }
  }

  .icons{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .icon{
      cursor: pointer;
    }
  }
}
